body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

input {
	width: 10%;
	padding: 15px;
	font-size: 30px;
	border-radius: 10px;
	margin: 10px;
	border: 5px solid black;
	text-align: center;
	font-weight: 700;
}

button {
	background-color: #000;
	border: none;
	color: white;
	padding: 20px 20px;
	margin: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 10px;
}

.container {
	display: flexbox;
	text-align: center;
	justify-content: center;
	padding: 20px;
	width: 500px;
	height: 400px;
	background-color: #FFF;
	border-radius: 40px;
}

.inputContainer {
	display: flex;
	width: 100%;
	justify-content: center;
}

.output {
	flex-direction: column;
	justify-content: center;
	padding: 0px 20px;
	font-size: 30px;
}

.borderContainer {
	width: 900px;
	height: 800px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 40px;
}